@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@media screen and (max-width: 1100px){
    #copyright {
        height: 170px;
    }
    
    #final-exhort p {
        font-size: 90;
    }
    
    #final-exhort span {
        font-size: 35px;
    }
    
    #slideshow {
        height: 600px;
    }
    
    #centertext {
        margin-top:230px;
    }
}

@media screen and (max-width: 900px){
    html {
        display:none;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: Open Sans;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.wrapper {
    width: 100%;
    height: fill;
    background-color: #d0cfcf;
    background-attachment: fixed;
    z-index: -5;
}

#allahu-akbar {
    font-family: Montserrat;
}

#allah-e-egg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    display: none;
}

#allah-e-egg iframe {
    height: 100%;
    width: 100%;
    display: none;
}

#nav {
    text-align: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
    height: 45px;
    background-color: #adacac;
    opacity: .6;
    position: fixed;
    display: table;
    table-layout: fixed;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    transiton: ease;
    transition-property: text-shadow, color, cursor, opacity;
    z-index: 5;
    box-shadow: 0px 0px 16px #444444;
}

#nav a {
    font-family: Montserrat;
    font-size: 19px;
    display: table-cell;
    transition-duration: inherit;
    color: #f2f2f2;
}

#nav:hover {
    opacity: .9;
}

#nav a:hover {
    text-shadow: 0px 0px 10px #888, 0px 0px 15px #999;
    color: #666;
}

#info {
    width: 100%;
    height: 380px;
    padding-top: 200px;
    text-align: center;
}

#info h1 {
    font-size: 40px;
    color: #f2f2f2;
}

#info p {
    font-size: 20px;
    color: #f6f6f6;
    margin-top: 25px;
    margin-right: 13%;
    margin-left: 13%;
}

#title,
#info p span {
    color: #ff5555;
}

#maybe {
    text-decoration: none;
    color: #ff5555;
    transition-duration: .3s;
    transition-property: color;
}

#maybe:hover {
    color: #c0392b;
}

#maybe:active {
    color: #c0392b;
}

#usually {
    z-index: 1;
    width: 100%;
    height: fill;
    font-size: 80px;
    padding-top: 35%;
    padding-bottom: 60%;
    color: #f1f1f1;
    font-family: Montserrat;
    text-align: center;
    overflow-x: hidden;
    background-color: #d0cfcf;
}

#contactbar {
    width: 100%;
    height: 300px;
    position: fixed;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 25px;
    z-index: 6;
    background-color: #f2f2f2;
    color: #777777;
    display: none;
    box-shadow: 0px 0px 60px #444444;
}

#contactbar p {
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

#contactbar h1 {
    font-size: 40px;
    margin-bottom: 17px;
}

.contactlink {
    text-decoration: none;
    transition-duration: .5s;
}

#email {
    color: #00cd00;
}

#email:hover {
    color: #006400;
}

#twitter {
    color: #0bf2ed;
}

#twitter:hover {
    color: #48d1cc;
}

#facebook {
    color: #54cbff;
}

#facebook:hover {
    color: #0198e1;
}

#contactexit {
    padding-top: 17px;
    font-size: 40px;
    color: black;
    cursor:pointer;
}

#contactexit:hover {
    color: #8b8989;
}

.recursive {
    width: 100%;
    height: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    top: 125px;
    font-size: 18px;
    font-family: Montserrat;
    background-color: #f2f2f2;
    color: #777777;
    text-align: center;
    position: fixed;
    display: none;
    z-index: 5;
}

#slideshow {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    height: 700px;
    background-color: #adacac;
    position: relative;
}

#slideshow img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    display: none;
}

#cornertext {
    z-index: 16;
    margin-left: 67px;
    margin-top: 67px;
    font-size: 30px;
    color: #f1f1f1;
    font-family: Montserrat;
    position: absolute;
    display: none;
}

#centertext {
    text-align: center;
    width: 100%;
    font-size: 40px;
    font-family: Montserrat;
    color: #f2f2f2;
    display: none;
    margin-top:280px;
    position:absolute;
}

#reviews {
    margin-top: 300px;
    width: 100%;
    height: fill;
    padding-bottom: 50px;
}

#reviews h1 {
    text-align: center;
    font-size: 30px;
    font-family: Montserrat;
    color: #ecf0f1;
    margin-bottom: 7px;
}

#reviews hr {
    width: 60%;
    margin-left: 20%;
    height: 1px;
}

#reviews p {
    margin-top: 30px;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 13px;
    color: #ecf0f1;
}

#reviews i {
    font-family: Montserrat;
    font-size: 17px;
}

#reviews-cntr {
    width: 100%;
    padding-top: 4%;
    padding-bottom: 6%;
    background-color: #adacac;
}

#comparison {
    height: 900px;
    padding-top: 70px;
    padding-left: 12%;
    padding-right: 12%;
    position: relative;
}

#comparison p {
    font-size: 25px;
    text-align: center;
    color: #f2f2f2;
}

#comparison ul {
    text-align: center;
    list-style-type: none;
    margin-top: 30px;
    font-size: 20px;
    color: #f2f2f2;
    width: 50%;
    display: inline-block;
    height: 250px;
}

.comp-ul-left {
    float: left;
}

.comp-ul-right {
    float: right;
}

.comp-ul-bottom {
    margin-bottom: 40px;
}

#comparison h1 {
    margin-bottom: 5px;
}

#comparison hr {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: .75px;
    color: #f2f2f2;
}

#comparison h6 {
    font-size: 7px;
    margin-top: 7px;
    margin-bottom:7px;
}

#li-us {
    color: #ff5555;
}

#final-exhort {
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('http://www.anytimemoverstx.com/wp-content/uploads/2014/07/airplanes-fly-in-sunset-wallpaper.jpg');
    color: #ff5555;
    font-size: 110px;
    position: relative;
}

#final-exhort p {
    position: absolute;
    margin-top: 310px;
    width: 100%;
    text-align: center;
}

#final-exhort span {
    font-size: 40px;
    position: absolute;
    margin-top: 350px;
    width: 100%;
    text-align: center;
}

#copyright {
    height: 150px;
    color: #f9f9f9;
    background-color: #adacac;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    overflow-y: scroll;
    font-size: 9px;
}

#copyrightspan {
    font-family: Montserrat;
    font-size: 13px;
}

#copyrightspan2 {
    font-family: Montserrat;
    font-size: 9px;
}

#anony {
    font-family: Montserrat;
    color: #ff5555;
}

#a-info {
    height:350px;
    padding-top:200px;
    text-align:center;
}
#a-info p {
    color:#f2f2f2;
    font-size:20px;
    margin-top:25px;
    margin-left:10%;
    margin-right:10%;
}

#a-info h1 {
    color:#ff5555;
    font-size:40px;
}
#review-section {
    height: 1300px;
    background-color:#adacac;
}

#review-text {
    text-align:center;
    margin-right:10%;
    margin-left:10%;
    margin-top: 100px;
    margin-bottom:100px;
    font-size: 20px;
    color:#52d5f5;
}
#review-box {
    width: 65%;
    margin-left: 17.5%;
    margin-right: 17.5%;
    height: 1000px;
    background-color: #f2f2f2;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 12px;
}

#input-box {
    width: 100%;
    height: 40%;
    background-color: #52d5f5;
    padding-top: 10px;
    box-shadow: 0px 0px 8.3px #adacac;
    position:relative;
}

input[type=text] {
    margin-bottom: 13px;
    font-family: Montserrat;
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    width: 40%;
    height: 13%;
    background-color: #e7f9fe;
    font-size: 11px;
    border: 8px solid #f2f2f2;
    box-shadow: inset 0px 0px 3px #adacac, inset 0px 0px 10px #f5f5f5;
    color: #777;
    cursor:text;
}

textarea {
    font-family: Montserrat;
    width: 60%;
    height: 87px;
    color: #777;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 18%;
    margin-left: 18%;
    background-color: #e7f9fe;
    background-color: #e7f9fe;
    font-size: 11px;
    border: 8px solid #f2f2f2;
    box-shadow: inset 0px 0px 3px #adacac, inset 0px 0px 10px #f5f5f5;
    resize: none;
    y-overflow: scroll;
    position: absolute;
    cursor:text;
}

input[type=text]:focus, textarea:focus {
    outline:none;
}
    
#revSubmit {
    font-family: Montserrat;
    cursor: pointer;
    font-size: 13px;
    color: #777;
    background-color: #f2f2f2;
    height: 10%;
    width: 15%;
    border: none;
    box-shadow: 0px 0px 10px #0ebfe9;
    margin-top: 140px;
    margin-right: 42.5%;
    margin-left: 42.5%;
    transition-duration: .5s;
}

#revSubmit:hover {
    background-color: #d4d4d4;
}

#revSubmit:active {
    background-color: #c7c7c7;
}

#review {
    width: 94%;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #e6e4e4;
    color: #777;
    box-shadow: 0px 0px 6.6px #999;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    position: relative;
    height:fill;
}

#review p {
    margin-right: 5%;
    margin-left: 5%;
}

#rev-name {
    font-family:Montserrat;
    font-size: 14px;
    margin-top:5px;
    position: absolute;
}

#rev-country {
    color:#0bb5ff;
    font-size:9px;
    margin-top:5px;
    font-family:Montserrat;
}

#rev-comments {
    font-size: 12px;
    margin-bottom:13px;
}
